doctype html
html
	include head.jade

	body
		
		include nav.jade
		
		.container
			
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.panel.panel-default
						.panel-body
							.row
								.col-lg-12
									form(class="form-horizontal")
										fieldset
											legend Update Option
											.form-group
												label.col-lg-2.control-label Title
												.col-lg-10
													intput(type="text").form-control
											
							
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.panel.panel-default
						.panel-heading
							h3.panel-title Pros and cons
						.panel-body
							.row
								.col-lg-12
									ul.list-group
										li.list-group-item 
											span.pull-right
												i.fa.fa-trash
											|<i class="fa fa-plus"></i> No disruption of current process for managing distribution services
											
										li.list-group-item
											|<i class="fa fa-plus"></i> All current capability for within POL(MAM) will be maintained
											span.pull-right
												i.fa.fa-trash
										li.list-group-item		
											|<i class="fa fa-plus"></i> Minimum development needs within DDS.
											span.pull-right
												i.fa.fa-trash
							.row
								.col-lg-12
									form.form-horizontal
										fieldset
											legend Add Pro or Con
											.row
												.col-lg-12
													.form-group
														label.col-lg-2.control-label Type
														.radio.col-lg-10
															label.radio-inline
																input(type="radio", name="proorcon", value="pro")
																| Pro
															label.radio-inline
																input(type="radio", name="proorcon", value="con")
																| Con
													.form-group
														label.col-lg-2.control-label Decision Owner
														.col-lg-10
															input(type="text").form-control
													.form-group
														label.col-lg-2.control-label Description
														.col-lg-10
															textarea(rows="3").form-control
													
											.row
												.col-lg-12
													.pull-right
														button(type="button").btn.btn-default Add

			.row
				.col-lg-12
					.pull-right
						button(type="button").btn.btn-default Save
						button(type="button").btn.btn-default Cancel
			

		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-route/angular-route.js")
		script(src="app.js")