.container
	.col-lg-8
		d-decision-show
	.col-lg-4
		.panel.panel-default
			.panel-heading
				.row
					.col-lg-9
						h3.panel-title Actions
					.col-lg-3.pull-right.text-right
						i.fa.fa-plus
			.panel-body
				| Basic panel example