div(ng-controller="ListDecisionCtrl").container
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.panel.panel-default
				.panel-body
					h4.list-group-item-heading 23 Linehaul Scheduling – Transport Operations 
					p
						span.label.label-success Completed
						span.label.label-default Solution
						span.label.label-default Change Control Board

					p.list-group-item-text 
						|Transport operations in DK perform both full load, part load & multi drop operations (including ad hoc pick ups from customers), these operations are supported by TSS and SAP. Whereas in NO only full loads or part loads are managed, DDS supports only A to B movements.
			.panel.panel-default
				.panel-body
					h4.list-group-item-heading 24 Linehaul Scheduling – Task Creation 
					p
						span.label.label-warning Work in progress
					p.list-group-item-text In the transport department in DK tasks can be created for the driver to pick up equipment and leave to a location thus enabling asset management, these actions are supported in TSS. In NO tasks are not used, therefor no support for tasks exists in DDS.
			.panel.panel-default
				.panel-body
					h4.list-group-item-heading 25 Linehaul Scheduling – Task Creation 
					p
						span.label.label-info Ready for decision
					p.list-group-item-text In the transport department in DK tasks can be created for the driver to pick up equipment and leave to a location thus enabling asset management, these actions are supported in TSS. In NO tasks are not used, therefor no support for tasks exists in DDS.
