
.panel.panel-default
	.panel-body
		h4.list-group-item-heading {{ctrl.data.title}}
		p
			span.label.label-success Completed
			span.label.label-default Solution
			span.label.label-default Change Control Board

		p.list-group-item-text 
			|Transport operations in DK perform both full load, part load & multi drop operations (including ad hoc pick ups from customers), these operations are supported by TSS and SAP. Whereas in NO only full loads or part loads are managed, DDS supports only A to B movements.