.panel.panel-primary
	.panel-heading
		.row
			.col-lg-11
				h3.panel-title {{  ctrl.data.title }}
			.col-lg-1.pull-right.text-right
	.panel-body
		.row
			.col-lg-12.well.well-sm
				i.fa.fa-pencil-square-o
		.row
			.col-lg-12
				p(ng-repeat="proOrCon in ctrl.data.proscons")
					d-pro-or-con-show(data="proOrCon")